header.header(hidden)
	a.header__logo-rbc-style(href="https://style.rbc.ru/" target="_blank" rel="noopener nofollow" title="РБК Стиль")
		+svg("logo-rbc-style")

	.header__project-label
		| совместный проект

	a.header__logo-porsche(href="https://www.porsche.com/russia/" target="_blank" rel="noopener nofollow" title="Porsche")
		+svg("logo-porsche")
