.old-browser-stub
	.old-browser-stub__title
		| Почему не работает?

	.old-browser-stub__text
		| Если у&nbsp;вас открывается эта версия страницы, возможно, вы&nbsp;используете устаревший браузер.

	.old-browser-stub__links
		a.old-browser-stub__link.old-browser-stub__link--chrome(href="https://www.google.com/chrome/" target="_blank" rel="noopener nofollow" title="Chrome")
			+svg("chrome")

		a.old-browser-stub__link.old-browser-stub__link--safari(href="https://www.apple.com/safari/download/" target="_blank" rel="noopener nofollow" title="Safari")
			+svg("safari")

		a.old-browser-stub__link.old-browser-stub__link--opera(href="https://www.opera.com/download/" target="_blank" rel="noopener nofollow" title="Opera")
			+svg("opera")

		a.old-browser-stub__link.old-browser-stub__link--firefox(href="https://www.mozilla.com/firefox/" target="_blank" rel="noopener nofollow" title="Firefox")
			+svg("firefox")

	.old-browser-stub__subtitle
		| Что делать?

	.old-browser-stub__text
		| Вам нужно установить любой из&nbsp;современных браузеров. Это займет у&nbsp;вас несколько минут.

	.old-browser-stub__subtitle
		| И&nbsp;что я&nbsp;увижу?

	.old-browser-stub__text
		| Совместный проект РБК и&nbsp;Porsche, в&nbsp;котором мы&nbsp;исследуем эпохи и&nbsp;технологии вместе с&nbsp;актёром Амбарцумом Кабаняном
