.stub.for-mobile
	.stub__header
		a.stub__logo-rbc(href="https://style.rbc.ru/" target="_blank" rel="noopener nofollow" title="РБК Стиль")
			+svg("logo-rbc-style")
		a.stub__logo-porsche(href="https://www.porsche.com/russia/" target="_blank" rel="noopener nofollow" title="Porsche")
			+svg("logo-porsche")
	.stub__content
		.stub__title
			| #[span машина] времени
		.stub__text
			| Мобильная версия проекта будет доступна позднее
