+timeline({
	id: '2020-2035',
	theme: 'light',
	last: true,
})
	.transparent-player.transparent-player--main(
		data-src="/video/2020-2035/main.mp4"
	)

	.transparent-player.transparent-player--loop(
		data-src="/video/2020-2035/loop.mp4"
		data-attrs={
			autoplay: true,
			muted: true,
			loop: true,
			playsinline: true
		}
	)

	button.timeline__start.is-dark(type="button" title="Начать")
		+svg("start-circle")
		+svg("play")

	+timeline-animation({
		src: '/animations/2035_bubbles/index.html',
		class: 'timeline__animation--bubbles'
	})

	+timeline-animation({
		src: '/animations/2035_bubbles/index.html',
		class: 'timeline__animation--bubbles-2'
	})

	+timeline-decoration({
		number: 2,
		image: [
			'/images/timeline/2020-2035/2.png'
		]
	})

	+timeline-decoration({
		number: 3,
		image: [
			'/images/timeline/2020-2035/3.png'
		]
	})

	+timeline-decoration({
		number: 4,
		image: [
			'/images/timeline/2020-2035/4.png'
		]
	})

	+timeline-decoration({
		number: 5,
		image: [
			'/images/timeline/2020-2035/5.png'
		]
	})

	+timeline-decoration({
		number: 6,
		image: [
			'/images/timeline/2020-2035/6.png'
		]
	})

	+timeline-decoration({
		number: 7,
		image: [
			'/images/timeline/2020-2035/7.png'
		]
	})

	+timeline-decoration({
		number: 8,
		image: [
			'/images/timeline/2020-2035/8.png'
		]
	})

	+timeline-decoration({
		number: 9,
		image: [
			'/images/timeline/2020-2035/5.png'
		]
	})

	+timeline-decoration({
		number: 10,
		image: [
			'/images/timeline/2020-2035/5.png'
		]
	})

	+timeline-popup({
		pageId: '2020-2035',
		number: 1,
		date: '2020 &mdash; 2035',
		title: 'Умная мода умного времени',
		image: [
			'/images/timeline/2020-2035/2.png'
		]
	})
		p Мода будущего одновременно экологична и&nbsp;технологична. Вещи вряд&nbsp;ли утратят свою эстетическую функцию, но&nbsp;при этом будут нести пользу владельцу и&nbsp;не&nbsp;вредить окружающей среде. Самоочищающиеся материалы, одежда, не&nbsp;пропускающая солнечный свет, или, например, жидкие ткани, которые можно распылить прямо из&nbsp;баллончика на&nbsp;тело,&nbsp;&mdash; всё это не&nbsp;фантазии, а&nbsp;достижения современной науки.
		p На&nbsp;самом деле будущее в&nbsp;моде уже наступило. Костюмы, позволяющие двигаться быстрее, или, например, кроссовки, считывающие пульс и&nbsp;анализирующие общее состояние спортсмена, самозашнуровывающаяся обувь, которая может быть полезна людям с&nbsp;болезнью Альцгеймера,&nbsp;&mdash; всё это есть уже сейчас и&nbsp;будет развиваться дальше.

	+timeline-pin({
		pageId: '2020-2035',
		number: 1,
		date: '2020 &mdash; 2035',
		title: 'Умная мода умного времени',
		class: 1,
	})

	+timeline-popup({
		pageId: '2020-2035',
		number: 2,
		date: '2020 &mdash; 2035',
		title: 'Жизнь без ограничений',
		image: [
			'/images/timeline/2020-2035/3.png'
		]
	})
		p Фильмы прошлого о&nbsp;киборгах уже не&nbsp;выглядят такой уж&nbsp;фантастикой&nbsp;&mdash; оказывается, живая материя и&nbsp;электронные технологии вполне могут сосуществовать. Одно из&nbsp;достижений современной медицинской инженерии&nbsp;&mdash; бионические протезы, которые могут быть присоединены к&nbsp;нервной системе человека и&nbsp;стать полноценной заменой рукам и&nbsp;ногам. Сейчас бионика активно развивается, и&nbsp;в&nbsp;будущем люди, лишившиеся конечностей, вполне могут рассчитывать на&nbsp;то, что наконец забудут о&nbsp;словосочетании &laquo;ограниченные возможности&raquo;.

	+timeline-pin({
		pageId: '2020-2035',
		number: 2,
		date: '2020 &mdash; 2035',
		title: 'Жизнь без ограничений',
		class: 2,
	})

	+timeline-popup({
		pageId: '2020-2035',
		number: 3,
		date: '2020 &mdash; 2035',
		title: 'Технобудущее',
		image: [
			'/images/timeline/2020-2035/4.png'
		]
	})
		p Футурологи предполагают, что в&nbsp;ближайшем будущем наберет популярность модульное мобильное жилье, а&nbsp;также персонализированные номера в&nbsp;гостиницах, учитывающие настроение постояльца. Весь мир будет нашим домом, и&nbsp;чтобы этого добиться, нам уже сейчас надо каждый день заботиться об&nbsp;экологии.
		p В&nbsp;будущем, если мы&nbsp;станем уделять больше внимания развитию нанотехнологий, то&nbsp;сможем перейти к&nbsp;созданию самовоспроизводящихся фабрик и&nbsp;наномашин. Это позволит решать многие продовольственные проблемы, а&nbsp;также наконец начать следить за&nbsp;окружающей средой и&nbsp;убирать из&nbsp;нее накопившийся мусор.

	+timeline-pin({
		pageId: '2020-2035',
		number: 3,
		date: '2020 &mdash; 2035',
		title: 'Технобудущее',
		class: 3,
	})

	+timeline-popup({
		pageId: '2020-2035',
		number: 4,
		date: '2020 &mdash; 2035',
		title: 'Porsche<br> Mission&nbsp;E',
		image: [
			'/images/timeline/2020-2035/9.png'
		],
		showButton: true
	})
		p И&nbsp;вот очередной поворотный пункт истории, но&nbsp;уже всего человечества: наступает эра электричества. Даже сейчас электромобили проезжают сотни километров без подзарядки, у&nbsp;них великолепная динамика, и&nbsp;они абсолютно безопасны для окружающей среды.
		p Увы, пока инфраструктура городов отстает от&nbsp;стремительного движения прогресса, и&nbsp;большинство людей не&nbsp;может жить в&nbsp;тихих районах, удаленных от&nbsp;шумных дорог. Тем ценнее для них бесшумность электромобилей и&nbsp;отсутствие вредных выбросов в&nbsp;атмосферу.
		p Электромобили настолько понравились потребителям, что все крупнейшие автопроизводители заявили о&nbsp;значительном расширении производства. Банк Morgan Stanley предсказывает, что к&nbsp;2025 году автоиндустрия будет продавать 7&nbsp;миллионов электромобилей в&nbsp;год. А&nbsp;эксперты BNP Paribas считают, что к&nbsp;этой&nbsp;же дате такие машины будут составлять&nbsp;11% от&nbsp;общего числа автомобилей. Однако индустрия развивается так быстро, что вскоре и&nbsp;эти прогнозы могут устареть.
		p Пока&nbsp;же потребителей по-прежнему волнует важный вопрос: запас хода на&nbsp;одной зарядке у&nbsp;электрокаров. Инженерам Porsche удалось во&nbsp;многом решить эту проблему уже сейчас: у&nbsp;концепта Mission E&nbsp;запас хода превышает 500&nbsp;км в&nbsp;цикле NEDC. А&nbsp;это больше, чем способен проехать автомобиль с&nbsp;бензиновым двигателем на&nbsp;одном баке. Причем при необходимости водитель Mission E&nbsp;Cross Turismo может воспользоваться инновационной технологией 800-вольтовой зарядки, которая позволит всего за&nbsp;15&nbsp;минут &laquo;заправиться&raquo; энергией на&nbsp;400&nbsp;км пути. А&nbsp;ведь раньше зарядка электромобилей занимала в&nbsp;среднем 10&ndash;12&nbsp;часов!
		p При этом динамика у&nbsp;Mission E&nbsp;гораздо выше, чем у&nbsp;большинства спорткаров с&nbsp;бензиновым двигателем. Судите сами, у&nbsp;Porsche два электромотора (по&nbsp;одному на&nbsp;каждой оси), которые в&nbsp;сумме выдают 600&nbsp;л.&nbsp;с. Электрический спорткар ускоряется с&nbsp;места до&nbsp;сотни за&nbsp;3,5&nbsp;секунды, а&nbsp;его максимальная скорость составляет 250&nbsp;км/ч.
		p Мир идет семимильными шагами навстречу электрической революции: стоимость батарей для автомобилей за&nbsp;последние пять лет упала более чем в&nbsp;два раза, а&nbsp;покупатели получают разнообразные преференции от&nbsp;государства. Например, в&nbsp;Москве уже сейчас электрокары могут парковаться бесплатно, а&nbsp;их&nbsp;владельцы освобождены от&nbsp;транспортного налога.
		p При этом будущие электромобили будут обладать многими новшествами, совпадающими с&nbsp;новым пониманием автомобильного мира. Это и&nbsp;возможность подключения к&nbsp;компьютерным сетям, и&nbsp;взаимодействие с&nbsp;внешними факторами во&nbsp;время движения. Крайне важен переход к&nbsp;новой технологии взаимодействия автомобиля с&nbsp;человеком, при которой не&nbsp;только традиционные дисплеи способны обеспечивать двусторонние каналы связи. Панели интерьера могут стать тачпадами, а&nbsp;&laquo;умный&raquo; проектор превратит в&nbsp;экран любую поверхность. Голосовой помощник позволит управлять не&nbsp;только различными функциями машины, но&nbsp;и&nbsp;техникой в&nbsp;связанном с&nbsp;автомобилем &laquo;умном&raquo; доме.
		p Многие водители боятся, что современные технологии убьют в&nbsp;машинах самое главное: удовольствие от&nbsp;управления автомобилем. Поверьте, этого не&nbsp;произойдет даже в&nbsp;самых электрифицированных моделях Porsche. Новые автомобили позволят нам обитать сразу в&nbsp;двух мирах. &laquo;Скоростной&raquo;&nbsp;&mdash; на&nbsp;пустой загородной трассе или гоночном треке можно будет в&nbsp;полной мере насладиться спортивной динамикой гибридов и&nbsp;электрокаров Porsche. &laquo;Расслабленный&raquo;&nbsp;&mdash; активировав &laquo;умную&raquo; электронику, можно будет отвлечься от&nbsp;вождения автомобиля и&nbsp;заняться общением со&nbsp;своими знакомыми или, например, отвечать на&nbsp;письма по&nbsp;электронной почте.
		p Электромобили становятся одним из&nbsp;главных символов осознанного потребления и&nbsp;заботы об&nbsp;окружающей среде, избавляя нас от&nbsp;проблемы загрязнения воздуха и&nbsp;городского шума. Они смогли доказать свою практичность и&nbsp;показали всему миру, что современный электромобиль может больше не&nbsp;ассоциироваться с&nbsp;черепашьей скоростью, компактными размерами и&nbsp;огромной стоимостью. Мы&nbsp;видим, какими красивыми и&nbsp;стремительными могут быть современные автомобили, позволяя нам наслаждаться вождением и&nbsp;высокими скоростями без ущерба для окружающих. Будущее уже наступило!

	+timeline-pin({
		pageId: '2020-2035',
		number: 4,
		title: 'Porsche Mission E',
		class: 4,
	})

	a.timeline__client-link(href="https://www.porsche.com/russia/aboutporsche/e-performance/" target="_blank" rel="noopener nofollow")
		span Отправиться в&nbsp;будущее вместе с&nbsp;Porsche
