+timeline({
	id: '1950-1970',
	theme: 'dark'
})
	.transparent-player.transparent-player--main(
		data-src="/video/1950-1970/main.mp4"
	)

	.transparent-player.transparent-player--loop(
		data-src="/video/1950-1970/loop.mp4"
		data-attrs={
			autoplay: true,
			muted: true,
			loop: true,
			playsinline: true
		}
	)

	button.timeline__start.is-light(type="button" title="Начать")
		+svg("start-circle")
		+svg("play")

	+timeline-animation({
		src: '/animations/1950_lavalamp/index.html',
		class: 'timeline__animation--lavalamp'
	})

	+timeline-decoration({
		number: 1,
		image: [
			'/images/timeline/1950-1970/1.png'
		]
	})

	+timeline-decoration({
		number: 3,
		image: [
			'/images/timeline/1950-1970/3.png'
		]
	})

	+timeline-decoration({
		number: 4,
		image: [
			'/images/timeline/1950-1970/4.png'
		]
	})

	+timeline-decoration({
		number: 5,
		image: [
			'/images/timeline/1950-1970/5.png'
		]
	})

	+timeline-decoration({
		number: 6,
		image: [
			'/images/timeline/1950-1970/6.png'
		]
	})

	+timeline-decoration({
		number: 8,
		image: [
			'/images/timeline/1950-1970/11.png'
		]
	})

	+timeline-decoration({
		number: 7,
		image: [
			'/images/timeline/1950-1970/12.png'
		]
	})

	+timeline-popup({
		pageId: '1950-1970',
		number: 1,
		date: '1950 &mdash; 1970',
		title: 'В&nbsp;свете вспышки',
		image: [
			'/images/timeline/1950-1970/2.png'
		]
	})
		p Фотоаппараты, сразу выдающие готовые снимки, появились еще в&nbsp;конце 1940-х и&nbsp;за&nbsp;несколько десятилетий из&nbsp;дорогой игрушки для семейного отпуска превратились в&nbsp;новое средство художественного выражения. В&nbsp;1970-х появляется модель, которая позволяет полностью автоматизировать процесс: теперь, чтобы получить фотографию, достаточно нажать всего одну кнопку. Новой технологией активно пользуются знаменитые фотографы Хельмут Ньютон, Роберт Мэпплторп, Энсел Адамс. А&nbsp;десять лет спустя Энди Уорхол превращает мгновенные снимки в&nbsp;объект культа, беспрестанно снимая своих друзей и&nbsp;приятелей.

	+timeline-pin({
		pageId: '1950-1970',
		number: 1,
		class: 1,
		date: '1950 &mdash; 1970',
		title: 'В&nbsp;свете вспышки',
	})

	+timeline-popup({
		pageId: '1950-1970',
		number: 2,
		date: '1950 &mdash; 1970',
		title: 'Модные эксперименты',
		image: [
			'/images/timeline/1950-1970/3.png'
		]
	})
		p В&nbsp;60-е годы дизайнеры активно экспериментируют с&nbsp;новыми материалами: нейлоном, винилом, полиуретаном, дакроном,&nbsp;&mdash; а&nbsp;также с&nbsp;силуэтами и&nbsp;формами, вызывающими ассоциации с&nbsp;космосом. Пьер Карден, Пако Рабан и&nbsp;Андре Курреж придумывают совершенно инопланетные образы. Эмилио Пуччи создает для авиакомпании Braniff униформу для стюардесс с&nbsp;прозрачными шлемами, как у&nbsp;космонавтов.
		p С&nbsp;началом космической эры границы человеческого мира раздвигаются далеко за&nbsp;пределы Земли: так сай-фай из&nbsp;маргинального жанра превращается в&nbsp;настоящую религию. В&nbsp;кино идут научно-фантастические фильмы, которым суждено стать культовыми.

	+timeline-pin({
		pageId: '1950-1970',
		number: 2,
		class: 2,
		date: '1950 &mdash; 1970',
		title: 'Модные эксперименты',
	})

	+timeline-popup({
		pageId: '1950-1970',
		number: 3,
		date: '1950 &mdash; 1970',
		title: 'Гонка Стива Маккуина',
		image: [
			'/images/timeline/1950-1970/5.png'
		]
	})
		p &laquo;Гонка&nbsp;&mdash; это жизнь. Всё, что до&nbsp;и&nbsp;после, лишь ожидание&raquo;,&nbsp;&mdash; говорит герой Стива Маккуина в&nbsp;фильме &laquo;Ле-Ман&raquo;. Его снял в&nbsp;1971 году режиссер Ли&nbsp;Катцин, навсегда закрепив за&nbsp;24-часовым автомобильным марафоном славу одной из&nbsp;самых сложных гонок в&nbsp;мире. Напряженный саундтрек к&nbsp;фильму написал Мишель Легран.
		p Гонщик Майкл Делани, которого сыграл Стив Маккуин, рвется к&nbsp;победе на&nbsp;Porsche 917. Так самая знаменитая гонка становится еще более популярной, ведь известности Маккуину не&nbsp;занимать. Пока мир думает о&nbsp;голливудской звезде, актер грезит о&nbsp;реве мотора. До&nbsp;такой степени, что сам находит миллионы долларов на&nbsp;производство фильма, главную роль в&nbsp;котором делит с&nbsp;автомобилем Porsche.

	+timeline-pin({
		pageId: '1950-1970',
		number: 3,
		class: 3,
		date: '1950 &mdash; 1970',
		title: 'Гонка Стива Маккуина',
	})

	+timeline-popup({
		pageId: '1950-1970',
		number: 4,
		date: '1950 &mdash; 1970',
		title: 'Красивая жизнь на&nbsp;высоких скоростях',
		image: [
			'/images/timeline/1950-1970/1.png'
		]
	})
		p На&nbsp;рубеже 50-х и&nbsp;60-х, пока все смотрят в&nbsp;светлое космическое будущее, частью повседневной реальности становятся полеты на&nbsp;самолете: люди начинают активно путешествовать. Число авиакомпаний стремительно растет, их&nbsp;реклама повсюду, и&nbsp;все они соревнуются: у&nbsp;кого салон роскошнее и&nbsp;ужин на&nbsp;борту изысканнее. Полет на&nbsp;самолете в&nbsp;1960-е напоминает поход в&nbsp;дорогой ресторан, неслучайно это время называют золотой эрой путешествий.
		p На&nbsp;красивом самолете&nbsp;&mdash; в&nbsp;красивое место: появляется понятие модного направления для путешествий, становятся популярными горнолыжные и&nbsp;новые пляжные курорты.
		p Скорость, мода, путешествия&nbsp;&mdash; всё это вдохновляет новую волну фильмов о&nbsp;красивой жизни, светских комедий, действие которых происходит в&nbsp;Кортина-д&rsquo;Ампеццо или Сен-Тропе. Звезды красуются в&nbsp;нарядах от&nbsp;Юбера Живанши и&nbsp;Ива Сен-Лорана и&nbsp;ездят на&nbsp;машинах, от&nbsp;красоты которых захватывает дух.

	+timeline-pin({
		pageId: '1950-1970',
		number: 4,
		class: 4,
		date: '1950 &mdash; 1970',
		title: 'Красивая жизнь на&nbsp;высоких скоростях',
	})

	+timeline-popup({
		pageId: '1950-1970',
		number: 5,
		date: '1950 &mdash; 1970',
		title: 'Porsche',
		image: [
			'/images/timeline/1950-1970/10.png'
		],
		showButton: true
	})
		p Спустя десять лет вслед за&nbsp;прототипным Porsche 64&nbsp;появился полноценный спорткар: модель 356. Разработкой этого автомобиля занимался сын Фердинанда Порше. Интересно, что самый первый Porsche 356 Порше-младший сконструировал для себя. Но&nbsp;автомобиль так понравился его друзьям и&nbsp;знакомым, что он&nbsp;решил собрать еще двадцать экземпляров. Модель оказалась настолько удачной, что фирму буквально захлестнул поток заказов и&nbsp;пришлось срочно разворачивать серийное производство.
		p По&nbsp;просьбам заказчиков этот заднеприводный и&nbsp;заднемоторный спорткар выпускали в&nbsp;двух вариантах: с&nbsp;жесткой крышей и&nbsp;складным мягким верхом. При этом модель постоянно улучшалась и&nbsp;дорабатывалась. Если сначала кузова делали вручную из&nbsp;листов алюминия, то&nbsp;позже их&nbsp;начали изготавливать из&nbsp;стали. Но&nbsp;больше всего внимания уделялось, конечно&nbsp;же, моторам.
		p Всего было выпущено около 80&nbsp;тысяч автомобилей. Коммерческий успех? Несомненно! Однако компания Porsche просто-напросто не&nbsp;способна стоять на&nbsp;месте и&nbsp;почивать на&nbsp;лаврах, поэтому на&nbsp;смену 356-й модели уже в&nbsp;1963 году пришел классический Porsche 911, ставший &laquo;самым массовым спортивным автомобилем XX&nbsp;века&raquo;. Главное в&nbsp;новинке, как всегда у&nbsp;Porsche, таилось под капотом. Купе имело шестицилиндровый оппозитный мотор с&nbsp;воздушным охлаждением, который выдавал мощность в&nbsp;130&nbsp;л.&nbsp;с.&nbsp;и&nbsp;обеспечивал максимальную скорость в&nbsp;210&nbsp;км/ч. Потрясающие характеристики для тех лет.
		p Но&nbsp;нет предела совершенству, и&nbsp;пару лет спустя компания Porsche выкатила на&nbsp;подиум модификацию 911&nbsp;S&nbsp;&mdash; в&nbsp;ней было уже 160&nbsp;сил. Фанаты &laquo;светофорных гонок&raquo; оставляли после себя на&nbsp;асфальте полосы жженой резины, устраивая групповые заезды по&nbsp;городским улицам на&nbsp;таких авто.
		p &laquo;Это просто фантастика&raquo;,&nbsp;&mdash; писали на&nbsp;завод счастливые автовладельцы.
		p &laquo;Но&nbsp;это еще не&nbsp;всё!&raquo;&nbsp;&mdash; думали про себя инженеры Porsche, разрабатывая очередное автомобильное чудо. Ждать оказалось недолго, и&nbsp;в&nbsp;1973 году на&nbsp;свет появилась фантастическая модель: Carrera RS&nbsp;с&nbsp;210-сильным двигателем и&nbsp;снаряженной массой около тонны. Помните легендарное антикрыло &laquo;утиный хвост&raquo;? Эта деталь принадлежала именно этому автомобилю.
		p Нельзя забывать, что Porsche&nbsp;&mdash; это не&nbsp;только городские машины, но&nbsp;и&nbsp;спортивные болиды, постоянно занимавшие призовые места на&nbsp;подиумах автомобильных гонок. &laquo;Гонка&nbsp;&mdash; это жизнь. Всё, что до&nbsp;и&nbsp;после, лишь ожидание&raquo;,&nbsp;&mdash; утверждал герой Стива Маккуина в&nbsp;фильме &laquo;Ле-Ман&raquo;. К&nbsp;победе в&nbsp;24-часовом автомобильном марафоне Майкл Делани рвался на&nbsp;Porsche 917. В&nbsp;конструкции этого уникального спортивного болида использовались безумно дорогие алюминиевые и&nbsp;титановые сплавы. Но&nbsp;немцы не&nbsp;стали экономить, так как это был единственный способ сделать шасси автомобиля максимально прочным и&nbsp;легким. А&nbsp;ведь ему предстояло нести на&nbsp;себе громадный 12-цилиндровый мотор.
		p Этот невероятный двигатель с&nbsp;рабочим объемом в&nbsp;4,5&nbsp;л развивал огромную для того времени мощность в&nbsp;580 &laquo;лошадей&raquo;! А&nbsp;благодаря тому, что сам болид весил чуть больше 800&nbsp;кг (легче отечественного &laquo;ушастого&raquo; &laquo;Запорожца&raquo;), Porsche 917&nbsp;с легкостью разгонялся до&nbsp;340&nbsp;км/ч.
		p Нефтяной кризис и&nbsp;забота об&nbsp;экологии оказали свое негативное влияние на&nbsp;автомобилестроение, и&nbsp;от&nbsp;огромных прожорливых бензиновых двигателей-монстров пришлось отказаться в&nbsp;пользу более экономичных моделей. А&nbsp;инженеры Porsche тем временем задумались об&nbsp;идее возвращения к&nbsp;электрическим истокам марки, но&nbsp;путь этот оказался небыстрым.

	+timeline-pin({
		pageId: '1950-1970',
		number: 5,
		class: 5,
		title: 'Porsche',
	})
