+timeline({
	id: '1898-1939',
	theme: 'dark'
})
	.transparent-player.transparent-player--main(
		data-src="/video/1898-1939/main.mp4"
	)

	.transparent-player.transparent-player--loop(
		data-src="/video/1898-1939/loop.mp4"
		data-attrs={
			autoplay: true,
			muted: true,
			loop: true,
			playsinline: true
		}
	)

	button.timeline__start.is-light(type="button" title="Начать")
		+svg("start-circle")
		+svg("play")

	+timeline-animation({
		src: '/animations/1898_flash/index.html',
		class: 'timeline__animation--flash'
	})

	+timeline-animation({
		src: '/animations/1898_glass/index.html',
		class: 'timeline__animation--glass'
	})

	+timeline-decoration({
		number: 2,
		image: [
			'/images/timeline/1898-1939/2.png',
		]
	})

	+timeline-decoration({
		number: 3,
		image: [
			'/images/timeline/1898-1939/3.png',
		]
	})

	+timeline-decoration({
		number: 4,
		image: [
			'/images/timeline/1898-1939/6.png',
		]
	})

	+timeline-decoration({
		number: 5,
		image: [
			'/images/timeline/1898-1939/7.png?v=3',
		]
	})

	+timeline-popup({
		pageId: '1898-1939',
		number: 1,
		date: '1898 &mdash; 1939',
		title: 'Стримлайн-модерн и&nbsp;&laquo;ревущие двадцатые&raquo;',
		image: [
			'/images/timeline/1898-1939/1.png',
		]
	})
		p Из&nbsp;Америки приходит новая мощная музыкальная волна&nbsp;&mdash; джаз. В&nbsp;самой Америке в&nbsp;это время устремляются вверх небоскребы и&nbsp;рождается стиль ар-деко, одновременно декадентский и&nbsp;героический, такой&nbsp;же, каким было породившее его время, &laquo;ревущие двадцатые&raquo;, the Roaring Twenties. Согласно архитектурным справочникам, ар-деко отличают строгие геометрические линии, этнические орнаменты, дорогие и&nbsp;редкие материалы. Женщины проявляют первые признаки эмансипации: прически и&nbsp;юбки становятся короче, и&nbsp;женщина за&nbsp;рулем уже никого не&nbsp;удивляет.
		p Стремительное развитие механизмов и&nbsp;бешеная скорость прогресса завораживают художников и&nbsp;дизайнеров: ар-деко превращается в&nbsp;стримлайн-модерн&nbsp;&mdash; архитектурный стиль, вдохновленный понятием аэродинамики. Здания со&nbsp;скругленными углами, украшенные башнями, напоминающими рубку подводной лодки, выглядят приветом из&nbsp;будущего&nbsp;&mdash; и&nbsp;все знают, что это будущее не&nbsp;заставит себя ждать.

	+timeline-pin({
		pageId: '1898-1939',
		number: 1,
		class: 1,
		date: '1898 &mdash; 1939',
		title: 'Стримлайн-модерн и&nbsp;&laquo;ревущие двадцатые&raquo;',
	})

	+timeline-popup({
		pageId: '1898-1939',
		number: 2,
		date: '1898 &mdash; 1939',
		title: 'Мир кино и&nbsp;феномен звезды',
		image: [
			'/images/timeline/1898-1939/2.png',
		]
	})
		p В&nbsp;1896 году братья Луи и&nbsp;Огюст Люмьер устраивают на&nbsp;парижском бульваре Капуцинок первую публичную демонстрацию движущихся картинок. Так начинается эпоха кино. В&nbsp;начале&nbsp;XX века по&nbsp;всему миру появляются публичные кинотеатры. Первые американские кинотеатры назывались &laquo;никельодеон&raquo;: сочетание слов nickel, то&nbsp;есть монета в&nbsp;пять центов, и&nbsp;&laquo;одеон&raquo;&nbsp;&mdash; так в&nbsp;Древней Греции называли театр с&nbsp;крышей. Уже из&nbsp;названия понятно, что создателям первых кинотеатров пришла в&nbsp;голову блестящая идея сделать кино дешевым народным развлечением. Так что эту волну было уже не&nbsp;остановить.
		p Сюжеты становятся всё сложнее, а&nbsp;фильмы&nbsp;&mdash; длиннее. Список жанров расширяется: теперь это не&nbsp;только бытовые комедии, в&nbsp;которых мальчик наступает на&nbsp;шланг, но&nbsp;также мелодрамы и&nbsp;даже научно-фантастические фильмы. Уже в&nbsp;1902 году Жорж Мельес снимает свое &laquo;Путешествие на&nbsp;Луну&raquo; (Le&nbsp;Voyage dans la&nbsp;Lune).
		p Кино очень быстро превращается в&nbsp;одно из&nbsp;любимых времяпрепровождений&nbsp;&mdash; от&nbsp;свидания до&nbsp;прогула школы. Рождается феномен кинозвезды: лица с&nbsp;экрана теперь обладают огромной магнетической силой. Им, даже пока лишенным голоса на&nbsp;экране, верят больше, чем кому&nbsp;бы то&nbsp;ни&nbsp;было.

	+timeline-pin({
		pageId: '1898-1939',
		number: 2,
		class: 2,
		date: '1898 &mdash; 1939',
		title: 'Киноафиша',
	})

	+timeline-popup({
		pageId: '1898-1939',
		number: 3,
		date: '1898 &mdash; 1939',
		title: 'Новый звук',
		image: [
			'/images/timeline/1898-1939/3.png',
		]
	})
		p В&nbsp;1913 году появился патефон, который от&nbsp;первого средства звукозаписи&nbsp;&mdash; граммофона&nbsp;&mdash; отличался тем, что умещался в&nbsp;чемодане. То&nbsp;есть его можно было перевозить с&nbsp;собой с&nbsp;квартиры на&nbsp;квартиру, в&nbsp;загородный дом, на&nbsp;пикник, а&nbsp;солдатам даже брать с&nbsp;собой в&nbsp;окопы. Вечеринки под патефон&nbsp;&mdash; примета нового времени. Первые пластинки были хрупкими и&nbsp;быстро изнашивались, поэтому слушать их&nbsp;в&nbsp;одиночестве было довольно расточительно.
		p Соединить звук с&nbsp;синематографом удалось в&nbsp;конце 1920-х&nbsp;&mdash; фильмы зазвучали. Родился жанр мюзикла. Первый&nbsp;же звуковой фильм назывался &laquo;Певец джаза&raquo; и&nbsp;был записан с&nbsp;помощью системы Vitaphone.

	+timeline-pin({
		pageId: '1898-1939',
		number: 3,
		class: 3,
		date: '1898 &mdash; 1939',
		title: 'Патефон',
	})

	+timeline-popup({
		pageId: '1898-1939',
		number: 4,
		date: '1898 &mdash; 1939',
		title: 'Porsche',
		image: [
			'/images/timeline/1898-1939/5.png?v=2',
		],
		showButton: true
	})
		p Это сейчас электромобили и&nbsp;гибриды&nbsp;&mdash; самое обычное дело, а&nbsp;ведь еще в&nbsp;начале нулевых всё было иначе. Тогда по&nbsp;улицам бегали скучные троллейбусы, &laquo;привязанные&raquo; к&nbsp;проводам, и&nbsp;престарелые трамваи, неотделимые от&nbsp;проложенных рельсов. Тем поразительнее история Фердинанда Порше, создавшего гибридный автомобиль почти 120 лет назад.
		p За&nbsp;эти годы на&nbsp;дороги выкатились десятки спортивных моделей Porsche, завоевавших сотни побед в&nbsp;автогонках и&nbsp;собравших вокруг себя многомиллионную армию преданных поклонников.
		p А&nbsp;началось всё в&nbsp;1898&nbsp;году, когда молодой и&nbsp;амбициозный инженер Фердинанд Порше сконструировал автомобиль, передвигавшийся исключительно на&nbsp;электротяге. Модель произвела фурор на&nbsp;Парижском автосалоне 1900&nbsp;года. Однако конструктора не&nbsp;устраивал большой вес автомобиля, поэтому он&nbsp;переделал его в&nbsp;первый в&nbsp;мире гибрид, который и&nbsp;был запущен в&nbsp;серийное производство.
		p Автомобиль назвали просто, но&nbsp;с&nbsp;глубоким смыслом&nbsp;&mdash; Semper Vivus (&laquo;Вечно живой&raquo;&nbsp;&mdash; лат.), потому что в&nbsp;отличие от&nbsp;машин конкурентов он&nbsp;имел большой пробег на&nbsp;одной заправке. Он&nbsp;был оснащен двумя двигателями внутреннего сгорания, которые запускали генераторы, питавшие электродвигатели в&nbsp;колесах и&nbsp;одновременно заряжавшие аккумуляторы.
		p Слишком сложно? Напротив, гениальность конструкции заключалась в&nbsp;ее&nbsp;простоте и&nbsp;безотказности работы. Однако австрийская автокомпания, для которой Порше создал этот уникальный проект, посчитала его слишком дорогим и&nbsp;рискованным, после чего о&nbsp;машинах на&nbsp;батарейках забыли почти на&nbsp;век.
		p В&nbsp;начале 1930-х годов Фердинанд Порше открыл свое конструкторское бюро и&nbsp;доказал всему миру, что его компания не&nbsp;делает &laquo;обычных&raquo; моделей. Первым автомобилем компании стало купе Porsche&nbsp;64, с&nbsp;первого взгляда поражавшее футуристичностью форм. Его обтекаемые обводы, охлаждаемый воздухом мощный двигатель с&nbsp;оппозитным расположением цилиндров в&nbsp;задней части кузова и&nbsp;уникальный дизайн&nbsp;&mdash; всё это на&nbsp;долгие годы стало неотъемлемыми чертами марки.
		p Кстати, именно с&nbsp;тех самых пор все модели Porsche, вопреки устоявшейся мировой традиции, стали получать вместо названий цифровые индексы. А&nbsp;что? Емко, понятно и&nbsp;по-немецки лаконично! Купе Porsche 64&nbsp;имело всё, что нам так нравится в&nbsp;автомобилях марки: отличную управляемость, мощный двигатель с&nbsp;характерным суховатым рыком выхлопа и&nbsp;стремительный разгон до&nbsp;сотни.

	+timeline-pin({
		pageId: '1898-1939',
		number: 4,
		class: 4,
		title: 'Porsche',
	})
