+timeline({
	id: '1980-1990',
	theme: 'dark'
})
	.transparent-player.transparent-player--main(
		data-src="/video/1980-1990/main.mp4"
	)

	.transparent-player.transparent-player--loop(
		data-src="/video/1980-1990/loop.mp4"
		data-attrs={
			autoplay: true,
			muted: true,
			loop: true,
			playsinline: true
		}
	)

	button.timeline__start.is-light(type="button" title="Начать")
		+svg("start-circle")
		+svg("play")

	+timeline-animation({
		src: '/animations/1980_folder/index.html',
		class: 'timeline__animation--folder'
	})

	+timeline-animation({
		src: '/animations/1980_globe/index.html',
		class: 'timeline__animation--globe'
	})

	+timeline-animation({
		src: '/animations/1980_folder/index.html',
		class: 'timeline__animation--folder-2'
	})

	+timeline-decoration({
		number: 7,
		image: [
			'/images/timeline/1980-1990/10.png'
		]
	})

	+timeline-decoration({
		number: 1,
		image: [
			'/images/timeline/1980-1990/1.png'
		]
	})

	+timeline-decoration({
		number: 2,
		image: [
			'/images/timeline/1980-1990/2.png'
		]
	})

	+timeline-decoration({
		number: 3,
		image: [
			'/images/timeline/1980-1990/7.png'
		]
	})

	+timeline-decoration({
		number: 4,
		image: [
			'/images/timeline/1980-1990/4.png'
		]
	})

	+timeline-decoration({
		number: 5,
		image: [
			'/images/timeline/1980-1990/5.png'
		]
	})

	+timeline-decoration({
		number: 6,
		image: [
			'/images/timeline/1980-1990/9.png'
		]
	})

	+timeline-popup({
		pageId: '1980-1990',
		number: 6,
		date: '1980 &mdash; 1990',
		title: 'Сам себе режиссёр',
		image: [
			'/images/timeline/1980-1990/10.png'
		]
	})
		p В&nbsp;90-е технические новинки всё чаще попадают в&nbsp;списки заветных желаний. Мечта обывателя&nbsp;&mdash; стать обладателем видеокамеры. На&nbsp;VHS-камеру записывают всё подряд, от&nbsp;дней рождения детей до&nbsp;поездки на&nbsp;курорт. Результат смотрят всей семьей, чтобы потом подписать кассеты и&nbsp;поместить их&nbsp;на&nbsp;полку. Любительское видео крутят даже по&nbsp;телевизору: дрожащие кадры с&nbsp;тайм-кодом становятся культурным кодом эпохи.
		p Пока взрослые обзаводятся видеокамерами, дети мечтают об&nbsp;игровых приставках, еще одной и&nbsp;весьма яркой примете эпохи. Счастливчики, которым удалось уговорить родителей на&nbsp;покупку, собирают компании друзей, чтобы часами гонять по&nbsp;экрану машинки и&nbsp;сражаться в&nbsp;виртуальных боях.

	+timeline-pin({
		pageId: '1980-1990',
		number: 6,
		class: 6,
		title: 'Сам себе режиссёр',
	})

	+timeline-popup({
		pageId: '1980-1990',
		number: 1,
		date: '1980 &mdash; 1990',
		title: 'Мир видеопроката',
		image: [
			'/images/timeline/1980-1990/1.png'
		]
	})
		p В&nbsp;начале 80-х видеокассета формата VHS становится лидирующим бытовым форматом во&nbsp;всём мире. Она проста в&nbsp;использовании, компактна, и&nbsp;с&nbsp;ней не&nbsp;возникает проблем с&nbsp;лицензионными ограничениями. Формат приживается и&nbsp;в&nbsp;СССР, где в&nbsp;конце 80-х появляются видеосалоны, а&nbsp;уже в&nbsp;новой России 90-х&nbsp;&mdash; видеопрокаты. Кассеты проигрываются в&nbsp;видеомагнитофонах, настоящих объектах желания. Иметь такой дома&nbsp;&mdash; настоящая роскошь. На&nbsp;кассетах записываются иностранные фильмы, быстро ставшие культовыми, по&nbsp;сути, через VHS-формат Россия знакомится с&nbsp;западным кинематографом.

	+timeline-pin({
		pageId: '1980-1990',
		number: 1,
		class: 1,
		date: '1980 &mdash; 1990',
		title: 'Мир видеопроката',
	})

	+timeline-popup({
		pageId: '1980-1990',
		number: 2,
		date: '1980 &mdash; 1990',
		title: 'Модные будни',
		image: [
			'/images/timeline/1980-1990/2.png'
		]
	})
		p От&nbsp;широкоплечих костюмов power dressing, избыточности и&nbsp;хип-хоп-эстетики до&nbsp;кислотных рейверских нарядов, гранжа, джинсов-варенок, минимализма и&nbsp;спорта&nbsp;&mdash; мода 80-х и&nbsp;90-х представляет собой эклектичную смесь всего и&nbsp;вся и&nbsp;оставляет глубокий след. Если 1980-е&nbsp;&mdash; это эпоха пост-диско с&nbsp;вышедшим из-под контроля макияжем, блестками и&nbsp;силуэтами, то&nbsp;1990-е&nbsp;&mdash; это уже предчувствие перемен, внутренний протест и&nbsp;замкнутость в&nbsp;себе.
		p Мода того времени была настолько противоречивой, что только несколько десятилетий спустя современные дизайнеры решились осмыслить этот пласт&nbsp;&mdash; и&nbsp;оказалось, что формы и&nbsp;цвета тех лет вполне созвучны нашей цифровой эпохе.

	+timeline-pin({
		pageId: '1980-1990',
		number: 2,
		class: 2,
		date: '1980 &mdash; 1990',
		title: 'Модные будни',
	})

	+timeline-popup({
		pageId: '1980-1990',
		number: 3,
		date: '1980 &mdash; 1990',
		title: 'Компьютер в&nbsp;каждый дом',
		image: [
			'/images/timeline/1980-1990/4.png'
		]
	})
		p Главный герой новой эпохи&nbsp;&mdash; компьютер. Главный звук&nbsp;&mdash; звук модема, набирающего номер. В&nbsp;1990-е годы персональные компьютеры становятся всё более доступными&nbsp;и, значит, популярными. На&nbsp;них играют в&nbsp;игры, печатают книги и&nbsp;диссертации, выходят в&nbsp;интернет&nbsp;&mdash; не&nbsp;буднично, как сейчас, а&nbsp;торжественно, будто в&nbsp;открытый космос. Компьютеры появляются не&nbsp;только в&nbsp;офисах, но&nbsp;и&nbsp;в&nbsp;домах и&nbsp;квартирах. И&nbsp;пусть из&nbsp;сегодняшнего дня те&nbsp;модели с&nbsp;их&nbsp;массивными экранами и&nbsp;системными блоками кажутся нам архаизмом, когда-то мы&nbsp;не&nbsp;уставали радоваться возможности получать электронные письма и&nbsp;играть в&nbsp;&laquo;стрелялки&raquo;.

	+timeline-pin({
		pageId: '1980-1990',
		number: 3,
		class: 3,
		date: '1980 &mdash; 1990',
		title: 'Компьютер в&nbsp;каждый дом',
	})

	+timeline-popup({
		pageId: '1980-1990',
		number: 4,
		date: '1980 &mdash; 1990',
		title: 'Музыка нового времени',
		image: [
			'/images/timeline/1980-1990/5.png'
		]
	})
		p В&nbsp;конце 80-х и&nbsp;начале 90-х люди танцуют уже не&nbsp;под мелодии, а&nbsp;под электронные биты, не&nbsp;под звуки гитар, а&nbsp;под диджейские ритмы. Синтезатор TB-303&nbsp;&mdash; символ рейв-революции и&nbsp;стиля эйсид-хаус. Именно из&nbsp;него электронные музыканты извлекали характерный &laquo;кислотный&raquo; звук, напоминающий вой сирен и&nbsp;переходящий в&nbsp;пронзительный свист.
		p Рождаются новые музыкальные жанры, которые без синтезатора попросту не&nbsp;могли&nbsp;бы существовать: синти-поп, техно, хаус. На&nbsp;смену дискотекам приходят рейвы. Близится конец не&nbsp;просто века, а&nbsp;тысячелетия. В&nbsp;воздухе витает радостно-тревожное ожидание смены единицы на&nbsp;двойку, и&nbsp;всё чаще звучит слово &laquo;миллениум&raquo;.

	+timeline-pin({
		pageId: '1980-1990',
		number: 4,
		class: 4,
		date: '1980 &mdash; 1990',
		title: 'Музыка нового времени',
	})

	+timeline-popup({
		pageId: '1980-1990',
		number: 5,
		date: '1980 &mdash; 1990',
		title: 'Porsche<br> Boxster',
		image: [
			'/images/timeline/1980-1990/8.png'
		],
		showButton: true
	})
		p Именно благодаря постоянным экспериментам и&nbsp;поискам самых лучших инженерных решений компания Porsche все эти годы продолжает поражать самых привередливых покупателей. Так, в&nbsp;1996 году настало время массовой популярности Porsche: марка выпустила спорткар Porsche Boxster с&nbsp;мягким складным верхом, разом задвинув в&nbsp;тень спортивные машины конкурентов.
		p Публика очень хорошо восприняла среднемоторный спортивный автомобиль, особенно хорошие продажи были в&nbsp;США из-за доступной цены (меньше 40&nbsp;тысяч долларов). Он&nbsp;был невероятно стильным: мягкий откидной верх Boxster в&nbsp;те&nbsp;годы считался прогрессивным.
		p Но&nbsp;чем был&nbsp;бы красивый имидж без соответствующей начинки? И&nbsp;с&nbsp;этим у&nbsp;Porsche всё было в&nbsp;порядке. Родстер выпускали с&nbsp;шестицилиндровым оппозитным мотором объемом 2,5&nbsp;л, который выдавал 204&nbsp;л.&nbsp;с. Да, это не&nbsp;580 &laquo;лошадей&raquo;, как у&nbsp;гоночного Porsche 917, но&nbsp;для загруженных городских дорог мощность даже избыточная. Впрочем, опережая просьбы гонщиков-любителей, довольно скоро компания Porsche выпустила версию Boxster S&nbsp;с&nbsp;двигателем 3,2&nbsp;л мощностью 252&nbsp;л.&nbsp;с.
		p Да-а-а, это был успех. С&nbsp;самой большой буквы! Модель полюбилась и&nbsp;пользовалась высоким спросом. Porsche Boxster первого поколения оказался настолько успешным, что марка даже и&nbsp;не&nbsp;собиралась трансформировать эту модель во&nbsp;что-то иное.
		p Сегодня Porsche выпускает родстер уже третьего поколения, и&nbsp;он&nbsp;по-прежнему прекрасен и&nbsp;узнаваем. Новинка получила обозначение 718&nbsp;&mdash; отсылка к&nbsp;легендарному гоночному автомобилю из&nbsp;конца 1950-х. А&nbsp;как&nbsp;же, без традиций Porsche&nbsp;&mdash; никуда.
		p Между первым 718-м и&nbsp;новым&nbsp;&mdash; шестьдесят лет, но&nbsp;как&nbsp;же они чертовски похожи! Да, разумеется, новый 718-й Boxster значительно мощнее и&nbsp;им&nbsp;проще управлять, но&nbsp;адреналиновый дух спорта и&nbsp;узнаваемый с&nbsp;первого взгляда стиль Porsche живет в&nbsp;обоих.

	+timeline-pin({
		pageId: '1980-1990',
		number: 5,
		class: 5,
		title: 'Porsche Boxster',
	})
