+timeline({
	id: '2010-2018',
	theme: 'light'
})
	.transparent-player.transparent-player--main(
		data-src="/video/2010-2018/main.mp4"
	)

	.transparent-player.transparent-player--loop(
		data-src="/video/2010-2018/loop.mp4"
		data-attrs={
			autoplay: true,
			muted: true,
			loop: true,
			playsinline: true
		}
	)

	button.timeline__start.is-light(type="button" title="Начать")
		+svg("start-circle")
		+svg("play")

	+timeline-animation({
		src: '/animations/2010_series/index.html',
		class: 'timeline__animation--series'
	})

	+timeline-decoration({
		number: 1,
		image: [
			'/images/timeline/2010-2018/1.png'
		]
	})

	+timeline-decoration({
		number: 13,
		image: [
			'/images/timeline/2010-2018/11.png'
		]
	})

	+timeline-decoration({
		number: 2,
		image: [
			'/images/timeline/2010-2018/2.png'
		]
	})

	+timeline-decoration({
		number: 3,
		image: [
			'/images/timeline/2010-2018/3.png'
		]
	})

	+timeline-decoration({
		number: 4,
		image: [
			'/images/timeline/2010-2018/4.png'
		]
	})

	+timeline-decoration({
		number: 5,
		image: [
			'/images/timeline/2010-2018/5.png'
		]
	})

	+timeline-decoration({
		number: 6,
		image: [
			'/images/timeline/2010-2018/6.png'
		]
	})

	+timeline-decoration({
		number: 7,
		image: [
			'/images/timeline/2010-2018/10.png'
		]
	})

	+timeline-decoration({
		number: 9,
		image: [
			'/images/timeline/2010-2018/9.png'
		]
	})

	+timeline-decoration({
		number: 10,
		image: [
			'/images/timeline/2010-2018/2.png'
		]
	})

	+timeline-decoration({
		number: 11,
		image: [
			'/images/timeline/2010-2018/9.png'
		]
	})

	+timeline-decoration({
		number: 12,
		image: [
			'/images/timeline/2010-2018/2.png'
		]
	})

	+timeline-popup({
		pageId: '2010-2018',
		number: 1,
		date: '2010 &mdash; 2018',
		title: 'Мех сегодняшнего дня',
		image: [
			'/images/timeline/2010-2018/5.png'
		]
	})
		p Мода сегодняшнего дня во&nbsp;многом сравнима с&nbsp;молекулярной кухней: невозможно изобрести новый вид омлета, но&nbsp;можно придумать интересную подачу, задействуя новые технологии. Современные дизайнеры активно экспериментируют с&nbsp;синтетическими материалами в&nbsp;самых разных сферах. Крупные бренды отказываются от&nbsp;натурального меха в&nbsp;пользу искусственного, да&nbsp;такого, что и&nbsp;греет лучше, и&nbsp;выглядит ничуть не&nbsp;хуже.

	+timeline-pin({
		pageId: '2010-2018',
		number: 1,
		date: '2010 &mdash; 2018',
		title: 'Мех сегодняшнего дня',
		class: 1,
	})

	+timeline-popup({
		pageId: '2010-2018',
		number: 2,
		date: '2010 &mdash; 2018',
		title: 'Прокачай себя',
		image: [
			'/images/timeline/2010-2018/2.png'
		]
	})
		p &laquo;Я&nbsp;знаю, что ничего не&nbsp;знаю&raquo;&nbsp;&mdash; изречение Сократа вдруг становится очень актуальным: оказывается, что меньше всего мы&nbsp;до&nbsp;сих пор знали о&nbsp;буднях собственного организма. Но&nbsp;теперь наука рвется вперед: мы&nbsp;каждый месяц открываем для себя новые модные способы оздоровления, экспериментируем с&nbsp;питанием и&nbsp;спортом, со&nbsp;сном и&nbsp;тайм-менеджментом.
		p Человечество настраивается на&nbsp;долголетие: гении Кремниевой долины увлекаются биохакингом, &laquo;прокачивая&raquo; мозг и&nbsp;тело. Инстаграм-инфлюенсеры активно медитируют, рассказывают о&nbsp;правильном питании и&nbsp;принципах ЗОЖ. Стремление жить долго и&nbsp;качественно считается хорошим тоном.

	+timeline-pin({
		pageId: '2010-2018',
		number: 2,
		date: '2010 &mdash; 2018',
		title: 'Прокачай себя',
		class: 2,
	})

	+timeline-popup({
		pageId: '2010-2018',
		number: 3,
		date: '2010 &mdash; 2018',
		title: 'Весь мир в&nbsp;одних часах',
		image: [
			'/images/timeline/2010-2018/4.png'
		]
	})
		p Если в&nbsp;мире есть &laquo;умные&raquo; телефоны, должны быть и&nbsp;&laquo;умные&raquo; часы, решают техногиганты и&nbsp;выпускают наручные устройства, которые всерьез взволнуют рынок традиционной хронометрии. &laquo;Умные&raquo; часы, умеющие не&nbsp;только показывать время, но&nbsp;и&nbsp;делать всё&nbsp;то, что способны делать смартфоны, носят и&nbsp;в&nbsp;фитнес-клубах, и&nbsp;в&nbsp;серьезных офисах, и&nbsp;на&nbsp;вечеринках.
		p Технологии&nbsp;&mdash; новая роскошь. &laquo;Умные&raquo; часы становятся главным и&nbsp;часто единственным аксессуаром, который вам нужен. Они и&nbsp;показатель статуса, и&nbsp;календарь, и&nbsp;средство коммуникации.

	+timeline-pin({
		pageId: '2010-2018',
		number: 3,
		date: '2010 &mdash; 2018',
		title: 'Весь мир в&nbsp;одних часах',
		class: 3,
	})

	+timeline-popup({
		pageId: '2010-2018',
		number: 4,
		date: '2010 &mdash; 2018',
		title: 'Искусственный интеллект',
		image: [
			'/images/timeline/2010-2018/3.png'
		]
	})
		p Очень быстро и&nbsp;незаметно искусственный интеллект из&nbsp;фантазии превращается в&nbsp;обыденное явление. Он&nbsp;уже умеет сочинять стихи, писать картины и&nbsp;музыку. Полотна, созданные искусственным интеллектом, продаются на&nbsp;аукционах с&nbsp;мировым именем и&nbsp;оцениваются порой даже дороже произведений Энди Уорхола: одна из&nbsp;первых таких картин была продана за&nbsp;$432&nbsp;500. При этом невозможно точно сказать, кто&nbsp;же автор полотна: разработчик, создатель кода или художник, который его модифицировал? Этот спорный момент сигнализирует о&nbsp;фундаментальном сдвиге в&nbsp;концепции восприятия творчества и&nbsp;искусства. Теперь об&nbsp;искусственном интеллекте снимают целые сериалы.

	+timeline-pin({
		pageId: '2010-2018',
		number: 4,
		date: '2010 &mdash; 2018',
		title: 'Искусственный интеллект',
		class: 4,
	})

	+timeline-popup({
		pageId: '2010-2018',
		number: 5,
		date: '2010 &mdash; 2018',
		title: 'Всего одну серию',
		image: [
			'/images/timeline/2010-2018/8.png'
		]
	})
		p Высокое качество интернета во&nbsp;втором десятилетии XXI века стимулирует сериальную культуру и&nbsp;развитие &laquo;умного&raquo; телевидения, где пользователь сам выбирает, что ему смотреть. &laquo;Залипнуть&raquo; за&nbsp;сериалом и&nbsp;посмотреть за&nbsp;выходные целый сезон, не&nbsp;выходя из&nbsp;дома,&nbsp;&mdash; для нас это теперь в&nbsp;порядке вещей.
		p Появляются стриминговые сервисы, которые способны полностью заменить телевидение. Некоторые из&nbsp;них превышают по&nbsp;капитализации ведущие голливудские студии и&nbsp;производят собственный контент. Один из&nbsp;самых известных в&nbsp;мире сервисов в&nbsp;2016 году выпустил 126 сериалов и&nbsp;фильмов, это больше, чем производит любой сетевой или кабельный канал. Сегодня у&nbsp;него около 120 миллионов подписчиков. Во&nbsp;многих домах телевизоры включаются всё реже, а&nbsp;самая прогрессивная часть населения и&nbsp;вовсе отправляет их&nbsp;на&nbsp;свалку истории. В&nbsp;интернете теперь можно узнавать новости, смотреть спортивные трансляции, параллельно еще и&nbsp;обсуждая это с&nbsp;друзьями онлайн.

	+timeline-pin({
		pageId: '2010-2018',
		number: 5,
		date: '2010 &mdash; 2018',
		title: 'Всего одну серию',
		class: 5,
	})

	+timeline-popup({
		pageId: '2010-2018',
		number: 6,
		date: '2010 &mdash; 2018',
		title: 'Porsche',
		image: [
			'/images/timeline/2010-2018/12.png'
		],
		showButton: true
	})
		p Все годы, с&nbsp;1898-го до&nbsp;сегодняшнего дня, технологии Porsche непрерывно развивались. Благодаря этому появлялись новые модели, и, кроме того, марка добилась невероятных успехов в&nbsp;автоспорте. Автомобили Porsche становились быстрее, мощнее, маневреннее, легче и&nbsp;умнее. Но&nbsp;однажды инженеры обернулись назад и&nbsp;разглядели&nbsp;то, о&nbsp;чём все забыли в&nbsp;1898-м.
		p В&nbsp;2010 году инженеры марки создали уникальный трековый автомобиль 911&nbsp;GT3&nbsp;R Hybrid. Два электрических мотора по&nbsp;60&nbsp;кВт вращали передние колеса, а&nbsp;четырехлитровый бензиновый двигатель мощностью 480&nbsp;л.&nbsp;с. работал с&nbsp;задней осью. Однако самое интересное заключалось в&nbsp;том, что традиционных аккумуляторных батарей здесь не&nbsp;было, а&nbsp;электродвигатель был соединен со&nbsp;специальным генератором, оборудованным системой рекуперативного торможения KERS. Каждый раз, когда водитель Porsche 911&nbsp;GT3&nbsp;R Hybrid давил на&nbsp;педаль тормоза, маховик-генератор преобразовывал кинетическую энергию в&nbsp;электрическую. При этом у&nbsp;водителя была возможность использовать выигранный за&nbsp;счет рекуперации заряд в&nbsp;краткий промежуток времени, когда гибридный спорткар получал дополнительные 160&nbsp;л.&nbsp;с.!
		p Понятно, что тема электричества для Porsche на&nbsp;этом не&nbsp;закончилась, а&nbsp;получила новый виток развития в&nbsp;виде гиперкара Porsche 918. Поверьте, таких уникальных спортивных автомобилей мир никогда еще не&nbsp;видел: купе проезжает &laquo;Северную петлю&raquo; гоночной трассы &laquo;Нюрбургринг&raquo; менее чем за&nbsp;семь минут и&nbsp;при этом отлично подходит для ежедневной эксплуатации на&nbsp;дорогах общего пользования в&nbsp;режиме &laquo;дом&nbsp;&mdash; офис&nbsp;&mdash; магазины&nbsp;&mdash; театр&nbsp;&mdash; дом&raquo;.
		p Гибридный Porsche 918 умеет передвигаться и&nbsp;исключительно на&nbsp;электротяге. Да, электричества хватит всего на&nbsp;30&nbsp;км пробега, но&nbsp;это тоже немало. А&nbsp;когда заряд аккумуляторов закончится, то&nbsp;автоматически подключится бензиновый мотор. Но&nbsp;самое главное, что электромоторы на&nbsp;старте обеспечивают потрясающую динамику, до&nbsp;которой их&nbsp;бензиновым братьям очень далеко. В&nbsp;боевом режиме Porsche 918 набирает 100&nbsp;км/ч за&nbsp;2,6&nbsp;секунды, а&nbsp;его максимальная скорость составляет 345&nbsp;км/ч.
		p Однако Porsche не&nbsp;забывает и&nbsp;об&nbsp;обычных автовладельцах, предлагая им&nbsp;гибридные версии Porsche Panamera и&nbsp;Porsche Cayenne. Обе модели оснащены plug-in-гибридной технологией, и&nbsp;благодаря специальному зарядному устройству их&nbsp;можно &laquo;заправлять&raquo; электричеством как на&nbsp;станциях экспресс-зарядки, так и&nbsp;от&nbsp;бытовой сети.
		p Страшный сон для водителя электромобиля&nbsp;&mdash; закончившийся заряд&nbsp;&mdash; практически уже в&nbsp;прошлом. По&nbsp;всему миру ежегодно устанавливают десятки тысяч зарядных станций. Прямо сейчас на&nbsp;чистом электричестве передвигается более миллиона машин, и&nbsp;это число увеличивается в&nbsp;геометрической прогрессии каждый год.
		p Важно&nbsp;то, что мировой автопром наконец-то смог переубедить автомобилистов и&nbsp;развеять миф о&nbsp;том, что электрокар&nbsp;&mdash; это дорого, медленно и&nbsp;невероятно скучно. Ведь гибриды и&nbsp;электрокары Porsche уже сейчас демонстрируют лучшую динамику по&nbsp;сравнению с&nbsp;обычными бензиновыми автомобилями.
		p В&nbsp;течение последнего десятилетия произошла настоящая революция в&nbsp;сфере электрификации. В&nbsp;больших европейских городах открываются целые сети зарядных станций для электромобилей. Власти мегаполисов вводят для экологически чистого транспорта разнообразные льготы: от&nbsp;бесплатной парковки до&nbsp;выделения государственных субсидий на&nbsp;покупку таких автомобилей.

	+timeline-pin({
		pageId: '2010-2018',
		number: 6,
		title: 'Porsche',
		class: 6,
	})
