// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-monza: #d3011c;
$color-thunderbird: #c61717;
$color-nobel: #b7b7b7;
$color-picton-blue: #42e5e7;
$color-periwinkle-gray: #c5d4e7;
$color-alto: #d8d6d5;
$color-tall-poppy: #b72d24;

// FONTS

$font-graphik-rbc-lc: "Graphik RBC LC", sans-serif;
$font-pf-regal-display-pro: "PF Regal Display Pro", sans-serif;
$font-playfair-display: "Playfair Display", sans-serif;
$font-roboto: "Roboto", sans-serif;
